<div class="max-w-[300px]">
  <div class="border-2 border-blue-500" id="product-image">
    <img [src]="image" alt="book image" class="transition-transform" />
  </div>

  <div id="product-info" class="grid justify-center place-items-center">
    <p class="my-2">{{ name }}</p>
    <p class="mb-1">${{ price }}</p>
    <form class="flex flex-col items-center">
      <div
        class="border border-gray-400 rounded-md max-w-[80px] focus-within:border-blue-500 p-1 mb-1 transition-colors"
      >
        <input
          type="number"
          value="1"
          min="1"
          class="w-full bg-transparent outline-none"
        />
      </div>

      <app-button [text]="'add to cart'"></app-button>
    </form>
  </div>
</div>
