<div class="text-center pt-8 md:pt-16">
  <h1 class="text-3xl text-green-500 font-semibold mb-3">Success! 🎉</h1>

  <div class="space-y-4">
    <p class="text-sm">
      Thank you, <span class="font-semibold"> {{ orderDetails.name }}</span>
    </p>
    <p class="text-sm">
      Your <span class="font-semibold">${{ orderDetails.amount }} </span> order
      is confirmed!
    </p>
    <p class="text-sm">Please allow 1 - 3 buisness day(s) for shipping.</p>
    <div (click)="router.navigate(['/'])" class="inline-block">
      <app-button [text]="'Back to product list'"></app-button>
    </div>
  </div>
</div>
